{% load static %}

<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="{% static 'anymap/anymap.css' %}" />

		{% block head %}{% endblock %}

	</head>

	<body>
		
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
			  <a class="navbar-brand" href="{% url 'home' %}">anycluster</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'openlayers' %}">OpenLayers</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'leaflet' %}">Leaflet</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'google' %}">Google</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://anycluster.readthedocs.io/en/latest/index.html" target="blank">Documentation</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="https://github.com/biodiv/anycluster" target="blank">Github</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
		{% block warning %}
		{% endblock %}
		<div id="content">
			{% block content %}
				<div class="container">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="my-5">anycluster demo</h1>
							<div class="d-flex space-around">
								<div class="text-center">
									<a href="{% url 'openlayers' %}" class="btn btn-outline-primary">OpenLayers</a>
								</div>
								<div class="text-center">
									<a href="{% url 'leaflet' %}" class="btn btn-outline-primary">Leaflet</a>
								</div>
								<div class="text-center">
									<a href="{% url 'google' %}" class="btn btn-outline-primary">Google</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
		
		{% block script %}{% endblock %}
		<div class="footer text-center py-3">
			<div class="px-3">
				Legal Notice
			</div>
			<div class="px-3">
				Privacy Policy
			</div>
		</div>
	</body>

</html>