{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center align-items-center">
                <div id="map"></div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <h2>Cluster Type</h2>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input id="kmeans-button" type="radio" class="btn-check" name="clustertype" checked>
                    <label class="btn btn-outline-primary" for="kmeans-button">kmeans</label>

                    <input id="grid-button" type="radio" class="btn-check" name="clustertype">
                    <label class="btn btn-outline-primary" for="grid-button">grid</label>

                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h2>Geometry Type</h2>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input id="geometry-viewport" type="radio" class="btn-check" name="geometrytype" checked>
                    <label class="btn btn-outline-primary" for="geometry-viewport">viewport</label>

                    <input id="geometry-area" type="radio" class="btn-check" name="geometrytype">
                    <label class="btn btn-outline-primary" for="geometry-area">area</label>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}