{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block warning %}
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center align-items-center">
                
                <h1>{% block map_title %}{% endblock %}</h1>
            </div>
        </div>
        
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center align-items-center">
                <div id="map"></div>
            </div>
            <div class="col-12 my-2 text-center">
                Total count: <span id="total-garden-count"></span>, Stone garden count: <span id="stone-garden-count"></span>, Flower garden count: <span id="flower-garden-count"></span>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-md-4 text-center">
                <h2>Cluster Type</h2>
                <div class="btn-group" role="group">
                    <input id="kmeans-button" type="radio" class="btn-check" name="clustertype" checked>
                    <label class="btn btn-outline-primary" for="kmeans-button">kmeans</label>

                    <input id="grid-button" type="radio" class="btn-check" name="clustertype">
                    <label class="btn btn-outline-primary" for="grid-button">grid</label>

                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h2>Exact Counts</h2>
                <div class="btn-group" role="group">
                    <input id="exactcounts-on" type="radio" class="btn-check" name="exactcount">
                    <label class="btn btn-outline-primary" for="exactcounts-on">on</label>

                    <input id="exactcounts-off" type="radio" class="btn-check" name="exactcount" checked>
                    <label class="btn btn-outline-primary" for="exactcounts-off">off</label>

                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <h2>Geometry Type</h2>
                <div class="btn-group" role="group">
                    <input id="geometry-viewport" type="radio" class="btn-check" name="geometrytype" checked>
                    <label class="btn btn-outline-primary" for="geometry-viewport">viewport</label>

                    <input id="geometry-area" type="radio" class="btn-check" name="geometrytype">
                    <label class="btn btn-outline-primary" for="geometry-area">area</label>

                </div>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-12">
                <h1>Filters</h1>
            </div>
            <div class="col-12 my-5 text-center">
                <h2>garden type</h2>
                <div class="btn-group-vertical" role="group">
                    
                    <input id="all-gardens-button" type="radio" class="btn-check" name="gardentype" value="all" checked>
                    <label class="btn btn-outline-primary" for="all-gardens-button">all</label>

                    <input id="flower-button" type="radio" class="btn-check" name="gardentype" value="flower">
                    <label class="btn btn-outline-primary" for="flower-button">flower</label>

                    <input id="stone-button" type="radio" class="btn-check" name="gardentype" value="stone">
                    <label class="btn btn-outline-primary" for="stone-button">stone</label>

                    <input id="japanese-button" type="radio" class="btn-check" name="gardentype" value="japanese">
                    <label class="btn btn-outline-primary" for="japanese-button">japanese</label>

                    <input id="flower-stone-button" type="radio" class="btn-check" name="gardentype" value="flowerAndStone">
                    <label class="btn btn-outline-primary" for="flower-stone-button">flower+stone</label>

                    <input id="not-flower-button" type="radio" class="btn-check" name="gardentype" value="notFlower">
                    <label class="btn btn-outline-primary" for="not-flower-button">not flower</label>

                    <input id="not-flower-or-stone-button" type="radio" class="btn-check" name="gardentype" value="notFlowerOrStone">
                    <label class="btn btn-outline-primary" for="not-flower-or-stone-button">not flower or stone</label>

                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h2>entrance fee (bool)</h2>
                <div class="btn-group" role="group">

                    <input id="all-entrance-button" type="radio" class="btn-check" name="entrance-fee" value="all" checked>
                    <label class="btn btn-outline-primary" for="all-entrance-button">all</label>
                    
                    <input id="free-entrance-button" type="radio" class="btn-check" name="entrance-fee" value="freeEntrance">
                    <label class="btn btn-outline-primary" for="free-entrance-button">free</label>

                    <input id="paid-entrance-button" type="radio" class="btn-check" name="entrance-fee" value="paidEntrance">
                    <label class="btn btn-outline-primary" for="paid-entrance-button">paid</label>

                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h2>nested</h2>

                <button id="nested-button" type="button" class="btn btn-outline-primary">
                    (flower and free) OR (stone and paid)
                </button>

            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-12">
                <h1>List of objects on Map (first page)</h1>
            </div>
            <div id="map-content-list" class="col-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}