.clusterMarkerText {
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.cluster-5 {
}

.cluster-10 {
}

.cluster-50 {
}

.cluster-100 {
}

.cluster-1000 {
}

.cluster-10000 {
}

.googleMapContainer img {
    max-width: none !important;
}
