{% load staticfiles %}
<html>
	<head>

		<link rel="stylesheet" href="{% static 'anycluster/anycluster.css' %}" />

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOURGOOGLEMAPSKEY&sensor=false"></script>
		<script type="text/javascript" src="{% static 'anycluster/anycluster.js' %}"></script>
		<script type="text/javascript" src="{% static 'anycluster/django_ajax_csrf.js' %}"></script>
		<script type="text/javascript" src="{% static 'anycluster/anycluster_marker.js' %}"></script>
		<script type="text/javascript">

			var anycluster_settings = {
				mapType : "leaflet", // "google" or "leaflet"
				gridSize: 256, //integer
				zoom: 3, //initial zoom
				center: [49,11], //initial center in lng lat
				clusterMethod : "kmeans", //"grid" or "kmeans"
				iconType: "exact", //"exact" (with exact cluster counts) or "simple" (with rounded counts) 
				singlePinImages: {
					'imperial':'/static/anycluster/pin_imperial.png', //optional, use in conjunction with django settings: 'ANYCLUSTER_PINCOLUMN'
					'stone':'/static/anycluster/pin_stone.png',
					'wild':'/static/anycluster/pin_wild.png',
					'japanese':'/static/anycluster/pin_japan.png',
					'flower':'/static/anycluster/pin_flower.png'
				},
				onFinalClick : function(mapmarker, entries){
					openPopup(entries);
				}
			};
		
			// clone settings for google
			var anycluster_settings_google = JSON.parse(JSON.stringify(anycluster_settings));
			anycluster_settings_google["google"] = { // google specific settings
				MapTypeId: "TERRAIN" //google only - choose from  ROADMAP,SATELLITE,HYBRID or TERRAIN
			}
			anycluster_settings_google["mapType"] = "google";
	
		
			window.onload = function(){
				// do not use both maps simultaneously as this will confuse the cache
				// anycluster = new Anycluster("google_map", anycluster_settings_google);
				anycluster = new Anycluster("leaflet_map", anycluster_settings);

				var gridRadio = document.getElementById("clusterGrid");
				gridRadio.addEventListener("change", function(){
					anycluster.gridSize = 64;
					anycluster.clusterMethod = "grid";
					anycluster.clearMarkers = true;
					anycluster.cluster(true);
				});

				var kmeansRadio = document.getElementById("clusterKmeans");
				kmeansRadio.addEventListener("change", function(){
					anycluster.gridSize = 256;
					anycluster.clusterMethod = "kmeans";
					anycluster.clearMarkers = true;
					anycluster.cluster(true);
				});
			}
		</script>
		
		<script type="text/javascript">
			//simple popup script
			
			function openPopup(html){
				var content = document.getElementById('clusterContentPopup');
				content.innerHTML = html;
				document.getElementById('clustererPopup').style.display = "";
			}
			function closePopup(){
				document.getElementById('clustererPopup').style.display = "none";
			}
		</script>

		<script type="text/javascript">
			//example script for getting viewport markers
			
			function loadViewportMarkers(){
				anycluster.getViewportContent(function(html){
					document.getElementById('markerList').innerHTML = html;
				});
			}

		</script>
		
		<style>
			.clusterlabels {
				color:#fff;
				font-weight: bold;
			}
		</style>
		
		
	</head>
	<body>
		<div id="leaflet_map" style="width:600px; height:300px; border: 1px solid black"></div>
		<div id="google_map" style="width:600px; height:300px; border: 1px solid black"></div>
		<div id="clustererPopup" style="border:2px solid black; position: absolute; left:30%;top:50%; background-color: #aaa; border-radius:10px; padding: 10px; display:none; z-index:9999;">
			<div id="clusterContentPopup"></div>
			<div style="text-align:center; margin-top: 20px;"><button onclick="closePopup();">close</button></div>
		</div>
		<div style="margin-top:30px;">
			<div><button onclick="loadViewportMarkers();">Load all markers on the map as list</button></div>
			<div id="markerList"></div>
		</div>
		<!-- needed for ajax POST requests -->
		{% csrf_token %}<br><br>
		<input type="radio" name="clusterstyle" value="grid" id="clusterGrid"><label for="clusterGrid">Grid</label>
		<input type="radio" name="clusterstyle" value="kmeans" id="clusterKmeans" checked><label for="clusterKmeans">Kmeans</label>
	</body>
</html>
